.status-place
{

    background-color:#D3D3D4;
    width:10%;
    margin-left:1%;
    padding-left:0.1%;
    padding-top:1.3%;
    padding-bottom:1%;
    /* transform: translate(-50%, -50%);  */
    
}

.parent
{
   display:flex;
   flex-direction:row;
   border:solid #F5F6F8;
   align-items: center;
   justify-content: space-between;
   background-color:#F5F6F8;
   margin-bottom:0.3%;
   padding-right: 1rem;
   
}
.color-code
{
    height: auto;
    background-color: #A25DDC;
    width: 5px;
    padding-left:0.1%;
    padding-top:1.3%;
    padding-bottom:1.4%;
    color:#A25DDC;
}
.vline
{
    height: 1%;
    background-color: #fff;
    width: .4px;
    margin-left:1%;
    margin-right:1%;
    margin-top:0.3%;
    padding-top:1.2%;
    padding-bottom:1%;
    color:blue;
}
.text-place
{

    padding-left:2%;
    margin-right: auto;
    color:black;
}

.comment{
   
     text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.showme{
    opacity: 0;
    // transition: opacity 0s 1s;
    margin-bottom:50%;
    
    
}
 .text-box
 {
    border:solid;
    border-color: transparent;
    margin-right: .325rem;
 }
 .text-box:hover+.showme{
    opacity: 1;
    transition: opacity  0s;
    // color:#A25DDC;
    // border:solid;   
 }
 
 .showme:hover {
      opacity: 1;
    transition: opacity 0s;
 }
 
 .priority-place
 {
    padding:0.5%;
    width:10%;
    text-align: center;
    font-size: 0.75rem;
    color:white;

    &:hover {
        opacity: .9;
    }
 }

 .timeline-place
 {
    padding:0.2%;
    margin-top:0.3%;
    margin-left:1%;
    font-size: 0.75rem;
    text-align: center;
    width:10%;
    color:white;
    border-radius: 11px;
 }

.status-place:hover
{
    background-color:#D3D3D4;
    width:10%;
    margin-left:1%;
    padding-left:0.1%;
    padding-top:1.5%;
    padding-bottom:1.3;
    border:1px dotted;
    
}
.status-place:after { 
            position: absolute; 
            content: ''; 
            right: 0; 
            top: 0; 
        } 
.timeline-place:hover span {display:none}
.timeline-place:hover:before {content:"5 Days"}

.text-box:hover 
{
    color:#A25DDC;
    border:solid;
    padding-top: .325rem;
}
.app-list-collapse
{
    display:flex;
    // margin-left:8%;
    font-size:1.3rem; 
    align-items: center;
    margin-top:1%;    
    margin-bottom:1%; 

    path {
        stroke: #fff;
    }
        
}
.carat-design:hover
{
color:#BF8FE7; 
}
.carat-design
{
color:#CCA5EC;
}
.app-text{
    padding-left: .5rem;
    font-size: 1.125rem;
    color:#A25DDC;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 0; }
      to { opacity: 1; }
}
.app-list-set{
    display:block;
    margin-left:5%;
    margin-right:5%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.app-list-set-hide{
      display: none;
}
.parent:hover
{
    cursor:all-scroll;
}

.dragged {
    width: 70% !important;
}