.contact {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    &__display {
        padding-right: 1.5rem;

        h3 {
            margin-bottom: 1rem;
        }
    }

    &__text {
        margin-bottom: 1.5rem;
    }

    &__wrapper {
        padding-right: 1rem;
        border-right: 1px solid #E6E9EF;
    }

    &__input {
        display: grid;
        grid-template-columns: 20% 70%;
        margin-bottom: 2.5rem;

        label {
            margin-right: 2rem;
            color: #323338;
        }

        input {
            border: 1px solid #0085ff;
            border-radius: 8px;
            padding: 10px 20px;
            cursor: text;
            flex-grow: 1;
        }
    }

}