.project {
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    z-index: 100;
    background: #fff;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__description {
        font-size: .875rem;
        color: #323338;

        &:hover {
            border: 1px dashed #c4c4c4;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        color: #323338;
        flex-grow: 1;
        display: flex;
        align-items: flex-end;

        &:hover {
            border: 1px dashed #c4c4c4;
        }
    }

    &__socials {
        display: flex;
        margin-right: 1rem;
    }

    &__integrate {
        display: flex;
        color: #323338;
    }

    &__text {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    &__user-icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    &__button {
        text-decoration: none;
        border: 1px solid #e6e9ef;
        color: #323338;
        padding: .5rem;
        margin-right: 0.5rem;
        border-radius: 3px;

        &:hover {
            background: #c5c7d0;
        }

        &--secondary {
            padding: .5rem 1rem;
        }
    }
}


.hexagon-container {
    position: relative;
    width: 40px;
    height: 40px;

    &--circle {
        border-radius: 50%;

        img {
            border-radius: 50%;
            width: 30px !important;
            height: 30px !important;
        }
    }

    &--one {
        margin-left: -19px;
    }

    img {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}