.board {
    // height: 100%;
    margin-top: 2rem;
    height: 85vh;
    overflow-y: auto;

    ul {
        list-style-type: none;
        display: flex;
    }

    a {
        text-decoration: none;
    }

    &__view {
        display: flex;
        align-items: center;
        color: #323338;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid #E6E9EF;
    }

    &__link {
        display: flex;
        align-items: center;
        color: #323338;
    }

    &__interact {
        display: flex;
    }

    &__item {
        margin: 0 1rem;
        padding: .2rem .5rem;
        border-radius: 3px;

        &:hover {
            background: #E6E9EF;
        }
    }
}


.card {
    width: 300px;
    box-shadow: 0 4px 15px rgb(197, 199, 208);
    border-radius: 3px;
    // margin: 10px auto;

    &__text {
        font-size: 15px;
        color: #323338;
    }

    &__list {
        margin-bottom: 0.5rem;
    }

    &__header {
        padding: 1rem 0 1rem 1rem;
    }

    &__body {
        border-bottom: 1px solid rgb(197, 199, 208);
        padding: 0 0 1rem 1rem;
    }

    &__footer {
        padding: 1rem 0 1rem 1rem;
    }
}

.battery {
    &__power {
        background: #fff;
        padding: 0;
        border: 2px solid #333;
        border-radius: 20px;
        width: 250px;
        height: 18px;
        margin: 0 auto;
    }

    &__wrapper {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

    &__fill {
        display: block;
        width: 33.3333%;
        opacity: 1;

        &--top {
            background: #f65f7c;
            height: 9px;
        }

        &--bottom {
            background: #e2445c;
            height: 9px;
        }
    }
}

.side__card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;
}

.inbox {
    margin-top: 2rem;
    width: 300px;

    &__input {
        display: flex;
        flex-direction: column;

        &-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            margin-left: 1rem;

            input {
                margin-right: 0.5rem;
            }

            label {
                font-size: 1rem;
            }
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 20px;
    }
}