.App {
  height: 100%;
}

.wrapper {
  height: 100%;
  background: #fff;
  margin-left: 120px;
  z-index: 10;
  border-top-left-radius: 10px;
  display: flex;

  @media only screen and (max-width: 1900px) {
    margin-left: 80px;
  }
}