*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto','Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #292f4c;
  overflow: hidden;
}

#root {
  height: 100%;
}

@media only screen 
  and (max-width: 1900px) {
  html {
    font-size: 75%;
  }
}

@media only screen 
  and (max-width: 1366px) {
  html {
    font-size: 62.5%;
  }
}